*
{
    box-sizing: border-box;
}
.body-color
{
    margin: auto 0px;
    background-color: #F7B3B3;
    min-width: 200px;
}
button
{
    background-color: transparent;
    
}
button:hover{
    background-color: #D62828;
    color: white;
    padding: 5px;
}
main input
{
padding: 10px;
border-radius: 15px;
background-color: rgb(239, 239, 239)
}

.container
{
    margin: 50px 80px;
    padding: 20px 24px;
    min-height: 800px;
    margin: auto 0px;
    border-radius: 20px;
    width: 360px;
    color: black;
    background-color: white;
    text-align: center;
    display: block;
    
}
h1
{
color: rgb(0, 0, 0);
font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 39px;
text-align: left;
}
.group_image
{
background-color: transparent;
border: none;
width: 30px;
height: 30px;
top: 56px;
left: 28px;
}

.form1
{
border-radius: 13px;
height: 44px;
width: 253px;
padding: 5px;
background-color: #EFEFEF;
}
.text-food
{
     text-align: center;
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
}

.text-fon
{
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
}
label
{
    background-color: transparent;
    border: none;
}
.category
{
   
    

}
.block_food
{
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    width: 74px;
    overflow: hidden;
    
}
.block_food_active
{
    background-color: black;
}
.image-container
{
   background-color: #A1B8C7;
   border-radius: 10px;
   padding-top: 15px;
   width: 74px;
   text-align: center;
   
}
.image-container_active
{
    background-color: rgb(252, 201, 108); 
    border-radius: 10px;
    padding: 15px;
    width: 74px;
}
.eat 
{
    background-color: #FFFFFF;
    padding: 24px 10px;
}

.name-burger
{
    color: black;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

}
.price
{
    color: #D62828;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
}