.body-color
{
    margin: auto 0px;
    background-color: #F7B3B3;
    min-width: 200px;
}
.container
{
 padding: 20px 40px;
}
.container1
{
    margin: 50px 80px;
    padding: 50px 60px;
    border-radius: 30px;
    color: black;
    background-color: white;
    text-align: center;
}
.group_image
{
background-color: transparent;
border: none;

}
.form1
{
border-radius: 13px;
height: 44px;
width: 316px;
background-color: #EFEFEF;
}
.text-food
{
    text-align: center;
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
}

.text-fon
{
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
}
label
{
    background-color: transparent;
    border: none;
}
.category
{
    

}
.block_food_active
{

}
.block_food
{
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    
    
}
.image-container
{
   background-color: #A1B8C7;
   border-radius: 10px;
   
}
.image-container_active
{
    background-color: #EAE2B7; 
    border-radius: 10px;
}
.eat 
{
    background-color: #FFFFFF;
    padding: 24px 10px;
}
.name-burger
{
    color: black;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

}
.price
{
    color: #D62828;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
}